<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IoT - Temperatura & Umidade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Google Charts loader -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>
  <body>
    <h1>IoT - Temperatura & Umidade (ESP32)</h1>
    <div class="controls">
      <label
        >Últimas leituras a mostrar:
        <select id="limit">
          <option value="50" selected>50</option>
          <option value="100">100</option>
          <option value="288">288</option>
        </select>
      </label>
      <button id="refreshBtn">Atualizar</button>
      <span id="lastUpdate" style="margin-left: 12px; color: #555"></span>
    </div>

    <div id="charts">
      <div id="chart_24h_temp" class="chart"></div>
      <div id="chart_24h_hum" class="chart"></div>

      <div id="chart_15d_temp" class="chart"></div>
      <div id="chart_15d_hum" class="chart"></div>

      <div id="chart_monthly_temp" class="chart"></div>
      <div id="chart_monthly_hum" class="chart"></div>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
